{{>includes/header}}

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">로또 번호 추첨기</h1>
            <p class="mb-5">당신의 
              <strong>생년월일 과 황금비 알고리즘</strong>으로 <br> 로또 당첨 기회를 가지세요</p>
            <div class="input-group input-group-newsletter">
                <button class="btn btn-secondary" type="button" onclick="location.href = '/login'">GO! GO!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
          <a id="btnTwitter" class="link-icon twitter" onclick="shareTwitter()"></a>
      </li>
      <li class="list-unstyled-item">
          <a id="btnFacebook" class="link-icon facebook" onclick="shareFacebook()"></a>
      </li>
      <li class="list-unstyled-item">
            <a id="btnKakao" class="link-icon kakao" onclick="shareKakao()"></a>
      </li>
    </ul>
  </div>
</body>

</html>
