{{>includes/header}}
<div class="masthead" style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column">
    <div>
    <a href="/oauth2/authorization/google" class="btn" role="button"> <img src="/img/google.png" style="max-width:100%; height:auto;" alt=""> </a>
    </div>
    <div>
    <a href="/oauth2/authorization/naver" class="btn" role="button"> <img src="/img/naver.png" style="max-width:100%; height:auto;" alt=""> </a>
    </div>
    <div>
    <a href="/oauth2/authorization/kakao" class="btn" role="button"> <img src="/img/kakao.png" style="max-width:100%; height:auto;" alt=""> </a>
    </div>
</div>
</body>
</html>