{{>includes/header}}
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    var count = 0;
    $(document).ready(function () {
        $(".btn_add").on('click', function () {
            if (count == 6) return;
            $(".depth_div").append("<label><input type='number' min=1 max=45 name=manual" + count + " id=lnum" + count + " required></label><br/>");
            count++;
        });
        $(".btn_mi").on('click', function () {
            if (count == 0) return;
            $(".depth_div label:last").remove();
            $(".depth_div br:last").remove();
            if (count > 0) count--;
        });
    });

    function overcheck() {
        for (var i = 0; i <= count; i++) {
            for (var j = i + 1; j < count; j++) {
                if (document.getElementById('lnum' + i).value == document.getElementById('lnum' + j).value) {
                    alert("수동번호 중복발생");
                    return false;
                }
            }
        }
    }


</script>
<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="masthead-content text-white py-5 py-md-0">
                    <button class="btn btn-secondary" type="button" onclick="location.href = '/logout'" style="background-color: #B34949; border-color: #B34949;">로그아웃</button>
                    <button class="btn btn-secondary" type="button" onclick="location.href = '/lottoList'" style="background-color: #49B366; border-color: #49B366;">행운의 번호 리스트</button>
                    <h1 class="mb-3">로또 번호 추첨기</h1>
                    <b style="color: #FF5733; font-weight: bold;" >오늘의 운세 처럼 같은 정보로 <br> <strong>하루에 1번씩</strong> 번호가 추첨됩니다.</b><br>
                    <form action="/lotto" method="post" name="form1" onsubmit="return overcheck();" style="margin-top: 16px;">
                        행운의 숫자: <input class="form-control" type="number" min=1 max=9999 name="luckyNum"
                                       placeholder="자신만의 행운의숫자를 입력해 주세요 1~9999" required> <br>
                        생년: <input class="form-control" type="number" min=1 max=9999 name="year" placeholder="ex)1994"
                                   required> <br>
                        생월: <input class="form-control" type="number" min=1 max=12 name="month" required> <br>
                        생일: <input class="form-control" type="number" min=1 max=31 name="day" required>
                        <p>입력된 개인정보는 수집되지 않습니다.</p>
                        ::수동 입력칸 추가 버튼::<br>
                        <div class=depth_div>
                            <input type="button" class="btn_add btn-secondary" value="추가">
                            <input type="button" class="btn_mi btn-secondary" value="삭제"><br><br>

                        </div>
                        <input class="btn btn-secondary" type="submit" value="로또번호 확인">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
            <a id="btnTwitter" class="link-icon twitter" onclick="shareTwitter()"></a>
        </li>
        <li class="list-unstyled-item">
            <a id="btnFacebook" class="link-icon facebook" onclick="shareFacebook()"></a>
        </li>
        <li class="list-unstyled-item">
            <a id="btnKakao" class="link-icon kakao" onclick="shareKakao()"></a>
        </li>
    </ul>
</div>
</body>
</html>